// Color Variables
$DarkBlue: hsl(240, 38%, 20%);
$GreyBlue: hsl(240, 18%, 77%);
$White: #ffffff;

body {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    background: $White;
    margin: 0;
    width: 100%;

    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        height: 600px;

        .slider {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: $White;
            background-image: url(../images/patterN-curve.svg), url(../images/pattern-bg.svg);
            background-repeat: no-repeat, no-repeat;
            background-position: left bottom, 550px;
            background-size: 500px, 600px;
            box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);

            &:focus {
                outline: none;
            }
            
            .slick-track,
            .slick-list {
                height: 100%;

                &:focus {
                    outline: none;
                }
            }

            .slide {
                position: relative;

                &:focus {
                    outline: none;
                }
            }
    
            .content {
                position: relative;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
                z-index: 1;
                width: 650px;
    
                img.quotes {
                    position: absolute;
                    top: -20px;
                    left: 100px;
                    width: 100px;
                }
    
                p {
                    font-weight: 300;
                    color: $DarkBlue;
                    margin-bottom: 0.5rem;
                }
    
                small {
                    font-size: 1.1rem;
                    font-weight: 700;
                    color: $DarkBlue;
    
                    span {
                        font-weight: 300;
                        margin-left: 5px;
                        color: $GreyBlue;
                    }
                }
            }
    
            img.person {
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translateY(-50%);
                width: 450px;
                box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .buttons {
        position: absolute;
        bottom: 10%;
        right: 30%;
        background: $White;
        border-radius: 30px;
        box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);

        .prev {
            position: relative;
            top: -2px;
            right: 0;
            display: inline-block;
            margin: 5px 20px;
            transition: all ease-in-out .2s;

            &:hover,
            &:focus {
                outline: none;
                cursor: pointer;
                right: 5px;
            }
        }

        .next {
            position: relative;
            top: -2px;
            left: 0;
            display: inline-block;
            margin: 5px 20px;
            transition: all ease-in-out .2s;

            &:hover,
            &:focus {
                outline: none;
                cursor: pointer;
                left: 5px;
            }
        }
    }
}
