// Color Variables
$DarkBlue: hsl(240, 38%, 20%);
$GreyBlue: hsl(240, 18%, 77%);
$White: #ffffff;

html {
    height: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;
    margin: 0;
    padding: 0;

    body {
        font-size: 32px;
        background: $White;
        margin: 0;
        padding: 0;
        height: 100%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);

        .main {
            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);

            .slider {
                overflow: hidden;
                width: 1200px;
                height: 600px;
                background: $White;
                background-image: url(../images/patterN-curve.svg), url(../images/pattern-bg.svg);
                background-repeat: no-repeat, no-repeat;
                background-position: left bottom, 550px;
                background-size: 500px, 600px;
                box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);

                &:focus {
                    outline: none;
                }

                .slick-track,
                .slick-list {
                    height: 600px;
                    width: 1200px;

                    &:focus {
                        outline: none;
                    }
                }

                .slide {
                    position: relative;
                    height: 600px;
                    width: 1200px;

                    &:focus {
                        outline: none;
                    }
                }

                .content {
                    position: relative;
                    top: 50%;
                    left: 12%;
                    display: block;
                    float: left;
                    transform: translate(-12%, -50%);
                    z-index: 1;
                    width: 650px;
                    overflow: hidden;

                    img.quotes {
                        position: absolute;
                        left: 100px;
                        width: 100px;
                    }

                    p {
                        font-family: "Inter Light", sans-serif;
                        color: $DarkBlue;
                        margin-bottom: 0.5rem;
                    }

                    small {
                        font-size: 1.1rem;
                        font-family: "Inter Bold", sans-serif;
                        color: $DarkBlue;

                        span {
                            font-family: "Inter Medium", sans-serif;
                            margin-left: 5px;
                            color: $GreyBlue;
                        }
                    }
                }

                .person {
                    float: right;
                    width: 480px;
                    height: 480px;
                    position: relative;
                    top: 50%;
                    right: 5%;
                    transform: translate(-5%, -50%);
                    overflow: hidden;
                    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);
                    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.25);

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .buttons {
            position: absolute;
            bottom: 20%;
            right: 35%;
            background: $White;
            border-radius: 30px;
            box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.25);

            .prev {
                position: relative;
                top: -2px;
                right: 0;
                display: inline-block;
                margin: 5px 20px;
                transition: all ease-in-out 0.2s;

                &:hover,
                &:focus {
                    outline: none;
                    cursor: pointer;
                    right: 5px;
                }
            }

            .next {
                position: relative;
                top: -2px;
                left: 0;
                display: inline-block;
                margin: 5px 20px;
                transition: all ease-in-out 0.2s;

                &:hover,
                &:focus {
                    outline: none;
                    cursor: pointer;
                    left: 5px;
                }
            }
        }
    }
}
